<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">

    <title>Menu</title>
    <link rel="stylesheet" href="../recursos/css/estilos.css">
    <link rel="stylesheet" href="../recursos/css/fontello.css">

</head>
<body>

   <header>
       <input type="checkbox" id="btn_menu">
       <label for="btn_menu" class="icon-menu"></label>

       <nav class="menu">
          <ul>
              <li><a href="#">Inicio <span class=""></span></a></li>
          <li class="submenu"><a href="#">Registro <span class="icon-down-open-big"></span></a>
             <ul>
              <li><a href="#">Registro Usuario</a></li>
          </ul></li>

          <li class="submenu"><a href="#">Redes Sociales <span class="icon-down-open-big"></span></a>
             <ul>
              <li ><a href="#">Facebook</span></a></li>
              <li ><a href="#">Linket</span></a>  </li>
              <li ><a href="#">Instagran</span></a></li>
             </ul>
            </li>

              <li class="submenu"> <a href="#">Otros <span class="icon-down-open-big"></span></a>


              <ul>
                  <li ><a href="#"> *''*</span></a></li>

              </ul>


              </li>

              <li class="submenu"><a href="#">Cerrar Sesión <span class="icon-down-open-big"></span></a>
              <ul>
               <li><a href="../login.html"><span class="icon-menu" aria-hidden="true"></span> Salir</a></li>
               </ul>
              </li>
          </ul>
       </nav>

   </header>
</body>
</html>
