<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>menu</title>
    <link rel="stylesheet" href="../recursos/css/menu.css">
</head>
<body background="http://www.cmu.ac.th/images/uploadfile/related-170402103216.jpg">
<div id="header">
			<nav>
				<ul class="nav">
					<li><a href="">Inicio</a></li>
					<li><a href="">Servicios</a>
						<ul>
							<li><a href="facebook.html">Facebook</a></li>
							<li><a href="twitter.html">Twitter</a></li>
							<li><a href="instagram.html">Instagram</a></li>
							<li><a href="whatsapp.html">Whatsapp</a></li>
						</ul>
					</li>
					<li><a href="">Acerca de</a>
						<ul>
							<li><a href="">Redes Sociales en Internet</a></li>
							<li><a href="">Interaccion con las redes sociales</a></li>
							<li><a href="">Redes Sociales en la Educacion</a></li>
							<li><a href=""></a></li>
						</ul>
					</li>
					<li><a href="../login.html">Salir</a></li>
				</ul>
			</nav>
		</div>
		<br><br><br><br>
 <center><img src="http://img.freepik.com/vector-gratis/set-de-botones-de-colores-de-redes-sociales_1057-406.jpg?size=338&ext=jpg" WIDTH=450 HEIGHT=600 VSPACE=5 HSPACE=500  padding-top="15px" padding-bottom="15px" padding-left="15px" padding-right="20px"></center>
</body>
</html>
